<div class="row">
  <div class="col-md-12">
    <table class="posts-user-area" width="100%">
      <tr>
        <td>
          <h4 id="posts-index-count"><%= @posts.count %> Active Posts</h4>
        </td>
        <td>
          <% if user_signed_in? %>
            <%= link_to "Such Post!", new_post_path, class: 'btn btn-warning btn-sm pull-right', id: 'posts-index-search' %>
          <% end %>
          <%= render 'posts/search_form' %>
        </td>
      </tr>
    </table>
  </div>
</div>
