<div class="row" id="all-comments">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12">
        <h4 id="comments-title-heading"> <%= pluralize(@post.comments.count, 'Comment') %></h4>
        <% if user_signed_in? %>
          <%= link_to 'Add Comment', new_post_comment_path(@post),
          :class => 'h4',
          id: "new_comment_link", remote: true %>
        <% end %>
      </div>
    </div>
    <% if @post.comments.any? %>
      <div class="well well-sm" id="post-comments-section">
        <table id="current_comments" class="table-bordered" width="100%">
          <%= render @post.comments.order('created_at ASC') %>
        </table>
      </div>
    <% else %>
      <h5 id="comment_empty">Be the first to speak!</h5>
    <% end %>
  </div>
</div>
