<%= render 'single_post_header' %>

<hr>

<div class="row">
  <div class="col-md-12">
    <div class="post-text">
      <p> <%= simple_format(@post.post_text)%> </p>
    </div>
  </div>
</div>

<hr>

<%= render 'post_comments' %>

<hr>

<%= link_to 'Back', posts_path, :class => 'btn btn-primary' %>
