/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

// General

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 80px;
  padding-bottom: 20px;
}
.inline {
  display: inline;
}

.well-sm {
  border-radius: 0px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 80px;
  background-color: #fff;
}

.footer-stuff {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.vertical-align {
  display: table-cell;
  vertical-align: middle;
}

.alert-notice {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-alert {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

// Avatars

.main-avatar {
}

.title-avatar {
  border-right: 1px solid grey;
  padding-right: 15px;
  display: inline;
}
.title-avatar-comments {
}
.title-avatar-posts-index {
  margin-top: 5px;
}

// Main Post Page

.posts-user-area {
  border-left: 5px solid #00ccff;
  margin-bottom: 10px;
}

#posts-index-count {
  padding-left: 10px;
}

.main-posts-table {
  margin-bottom: 5px;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-left-color: orange;
  border-radius: 3px;
  text-align: center;
}

// Post Title Display

#post-title-header {
  text-align: left;
  margin: 0px;
  padding-left: 15px;
}

#post-title-date {
  text-align: left;
  margin: 0px;
  padding-left: 15px;
}

// Post Text

.post-text {
}

// Comment Title Area

#new_comment_link {
  float: right;
}

#comments-title-heading {
  float: left;
}

// Comment Display

#current_comments {
  background-color: #fff;
  margin-bottom: 0px;
}
#user-comment-name {
  font-size: 90%;
}
#user-comment-count {
  font-size: 75%;
}
td#comment-functions {
  vertical-align: middle;
}
#comment-timestamp {
  float:right;
  font-size: 70%;
}

// Comment Form

#new_comment_form {
  background-color: #fff;
}
 #create-comment-button {
   float: left;
   margin-right: 5px;
 }
