/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

// General

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 80px;
  padding-bottom: 20px;
  min-width:550px; /* suppose you want minimun width of 1000px */
  width: auto !important;  /* Firefox will set width as auto */
  width:550px;
}
.inline {
  display: inline;
}
.btn {
  border-radius: 0px;
}
.custom-form-control {
  height: 30px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 2px;
  vertical-align: middle;
}
.no-margin {
  margin: 0px;
}
.big-text {
  font-size: 20px;
}
.sub-title {
  color: #a0a0a0;
}
.well-sm {
  border-radius: 0px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 80px;
  background-color: #fff;
}
.footer-stuff {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.vertical-align {
  display: table-cell;
  vertical-align: middle;
}
.alert-notice {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.alert-alert {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

// Avatars

.main-avatar {
}
.single-post-avatar {
  border-right: 1px solid grey;
  padding-right: 15px;
}
.title-avatar-comments {
}
.title-avatar-posts-index {
  margin-top: 5px;
}

// Main Post Page

.posts-user-area {
  border-left: 5px solid #00ccff;
  margin-bottom: 20px;
}
#posts-index-search {
  margin-left: 5px;
}
#posts-index-count {
  padding-left: 10px;
}
.main-posts-table {
  margin-bottom: 5px;
  border: 1px solid #e7e7e7;
  border-left-width: 5px;
  border-left-color: orange;
  text-align: center;
}
.main-posts-text{
  text-align: left;
}
.post-score-area {
  width: 100px;
}

// Single Post Title Display

#single-post-avatar-area {
  width: 106px;
}

.post-title-vote {
  text-align: center;
}
.post-title-score {
  text-align: right;
}

// Post Text

.post-text {
}

// Comment Title Area

#new_comment_link {
  float: right;
}

#comments-title-heading {
  float: left;
}

// Comment Display

#current_comments {
  background-color: #fff;
  margin-bottom: 0px;
}
.comment-avatar {
  text-align: center;
  padding: 8px;
}
.comment-controls {
  text-align: center;
  padding: 8px;
}
.comment-text {
  vertical-align: top;
  padding: 5px;
}
#user-comment-name {
  font-size: 90%;
}
#user-comment-count {
  font-size: 75%;
}
#comment-timestamp {
  float:right;
  font-size: 70%;
}
.comment-voting-area {
  width: 80px;
}

// Comment Form

#new_comment_form {
  background-color: #fff;
}
#create-comment-button {
  float: left;
  margin-right: 5px;
}
